<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link <%= active_menu('microposts') %>">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Tin Tức
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="/microposts" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Danh sách tin tức</p>
        </a>
      </li>
    </ul>
  </li>
</ul>
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link <%= active_menu('calendar') %>">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Thời khoá biểu
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="<%= students_calendar_show_path %>" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Xem lịch</p>
        </a>
      </li>
    </ul>
  </li>
</ul>
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-item has-treeview menu-open">
      <a href="#" class="nav-link <%= active_menu('qandas') %>">
      <i class="nav-icon fas fa-question-circle"></i>
      <p>
        Hỏi đáp
      </p>
    </a>
  </li>
</ul>
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-item has-treeview menu-open">
      <a href="#" class="nav-link <%= active_menu('timer') %>">
      <i class="nav-icon fas fa-clock"></i>
      <p>
        Hẹn giờ
      </p>
    </a>
  </li>
</ul>
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-item has-treeview menu-open">
    <a href="<%= students_session_path(current_student) %>" data-method="delete"  class="nav-link">
      <i class="nav-icon fas fa-sign-out-alt"></i>
      <p>
        Đăng xuất
      </p>
    </a>
  </li>
</ul>
