<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to students_calendar_show_path(date: @date - 1.week), class: "btn btn-default" do %>
        <i class="fa fa-arrow-left"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to students_calendar_show_path(date: @date + 1.week), class: "btn btn-default" do %>
        <i class="fa fa-arrow-right"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <%= form_for(current_student, url: students_calendar_create_path) do |f| %>
      <%= date.day %>

      <div id='tasks'>
        <%= f.fields_for :schedules do |schedule| %>
          <%= render 'schedule_fields', :f => schedule, date: schedule_date(schedule) if (schedule_date(schedule) == date) %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Thêm môn học', f, :schedules, partial: 'students/calendar/schedule_fields', render_options: { locals: { date: date } } %>
        </div>
      </div>
      <%= f.submit 'Save' %>
    <% end %>
    <% end %>
  </div>
</div>

<%= render "students/calendar/subject" %>