<div class="row">
  <div class="col-md-4">

    <div class="hold-transition ">
    
      <div class="card-body login-card-body">

      <%= form_with(model: micropost) do |form| %>
        <% if micropost.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

            <ul>
              <% micropost.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="input-group mb-3">    
          <%= form.text_area :content, {class: "form-control", placeholder: "Nội dung bài viết ..."} %>
        </div>
        <div class="input-group mb-3">
          <%= form.hidden_field :teacher_id, :value => current_teacher.id %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
        </div>
    </div>
  </div>

</div>